Debug/
.DS_Store
.DS_Store
*.prefs
*.opt
*.d
*.obj
*.map
.DS_Store
.settings/org.eclipse.core.resources.prefs
Debug/ccsObjs.opt
Debug/clock.d
Debug/clock.obj
Debug/eth0.d
Debug/eth0.obj
Debug/ethernet.d
Debug/ethernet.obj
Debug/gpio.d
Debug/gpio.obj
Debug/IOT_Project_1.map
Debug/IOT_Project_1.out
Debug/IOT_Project_1_linkInfo.xml
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/spi0.d
Debug/spi0.obj
Debug/subdir_rules.mk
Debug/subdir_vars.mk
Debug/tcp.d
Debug/tcp.obj
Debug/tm4c123gh6pm_startup_ccs.d
Debug/tm4c123gh6pm_startup_ccs.obj
Debug/uart0.d
Debug/uart0.obj
Debug/wait.d
Debug/wait.obj
